<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootsrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Convert to Title Case!</title>
</head>
<body>
    <div class="container">
        <h1>Your phrase in title case:</h1>
        <h4>{{ result }}</h4>
    </div>
</body>
</html>
